{{ $input := . }}

{{ define "partials/inline/cta/link.html" }}
    {{ $input := . }}
    <span class="button-group">
        <a class="button button--outlined" href="{{ $input.ctaUrl }}" rel="noopener noreferrer" rel="external" target="_blank">
            {{ T "cta_button.get_ticket" }}
        </a>
        <a class="button button--outlined" href="{{ $input.cfpUrl }}" rel="noopener noreferrer" rel="external" target="_blank">
            {{ T "cta_button.become_speaker" }}
        </a>
    </span>
{{ end }}

{{- if $input.ctaUrl }}
    {{ partial "inline/cta/link.html" (dict "ctaUrl" $input.ctaUrl "cfpUrl" $input.cfpUrl) }}
{{- end }}
